

body {
  /* background: linear-gradient(to bottom, #303F51, #34226C); */
  background: linear-gradient(to bottom, #0f084b, #2f227e);
  /* background: linear-gradient(to bottom, #0f084b, #26408b); */
  color: #ffffff;
  font-family: 'Segoe UI', sans-serif;
}

html, body {
  max-width: 100%;
  overflow-x: hidden; /* remove barra de rolagem lateral */
}

img {
  max-width: 100%; /* garante que imagens não estourem no mobile */
  height: auto;
}

.section-title {
  text-align: center;
  margin: 60px 0 30px;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.section-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 4px;
  background-color: #00b4d8;
  margin: 10px auto 0;
  border-radius: 4px;
}

.highlight {
  color: #7FE6E3;
}

.card {
  /* background: rgba(255, 255, 255, 0.05); */
  /* background: linear-gradient(135deg, #2f227e 60%, #0f084b 100%); */
  background: #1E1267;
  box-shadow: 0 2px 16px 0 #00000076;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.badge-custom-warning {
  background-color: #F5B841; /* cor personalizada, exemplo: coral */
  color: #fff;
  font-weight: 600;
}

.progress {
  background: #444;
}

.progress-bar {
  background-color: #00b4d8;
}

.navbar {
  /* background: #2d1d5e; */
  background-color: #080331;
}

footer {
  /* background: #2d1d5e; */
  background: #08033195;

  text-align: center;
  font-size: 0.8rem;
  padding: 5px;
}

a {
  color: #00b4d8;
  text-decoration: none;
}

.btn-custom {
  background-color: #00b4d8;
  color: #000;
}

.form-control,
.form-control:focus {
  background-color: #ffffff;
  border-color: #00b4d8;
  color: black;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #00b4d8;
  object-fit: cover;
  margin: 20px auto;
  display: block;
}

.edu-entry {
  border-left: 4px solid #00b4d8;
  padding-left: 15px;
}

.edu-entry .title {
  font-weight: bold;
  font-size: 1.1rem;
}

.edu-entry .institution {
  color: #00b4d8;
  font-weight: 500;
}

.edu-entry .details {
  color: #bbb;
}

.content-project {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-grow: 1;
  margin-bottom: 0.75rem;
  flex-direction: column;
  
}

.badges-verticais {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 0.5rem;
  margin-top: 1rem;
}

.badges-verticais .badge {
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 0.5rem;
}